<html>

<head>
    <title>All Products</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
        <%- include('../include/header.ejs') %>
    <h2>List of All products</h2>
    <%if (products.length == 0){%>
    <h3>No Products</h3>
    <%}else{%>
    <%products.forEach(function(product){%>
    <li>
        name:<%=product.name%> price:<%=product.price%> <img style="height: 30px;width: 30px" src="<%=product.url%>" />
        <a href="/product/delete/<%=product.id%>">Delete</a>
        <a href="/product/<%=product.id%>">Edit</a>
    </li>
    <%})%>
    <%}%>
   
</body>

</html>